**Question 1**


Write a python code for converting integer values to Indian currency notations, without
using the currency libraries

In [5]:
def convert_to_indian_currency(number):
  #convert number to string
  num_str = str(number)

  # split the number into two parts: last three digits and the rest

  if len(num_str) > 3:
    last_three = num_str[-3:]
    other_numbers = num_str[:-3]


  # insert commas every two digits in the other_number part

    rest_with_commas = ','.join([other_numbers[max(i-2, 0):i] for i in range(len(other_numbers), 0,-2)][::-1])

  # Combine the other_number part the last three digits
    indian_currency = rest_with_commas + ',' + last_three
  else:

    # If the number is 3 digits or less, no need to insert commasn
    indian_currency = num_str

  return indian_currency

In [6]:
Question 2number = 504678
print(convert_to_indian_currency(number))

5,04,678

In [8]:
number2 = 1000
print(convert_to_indian_currency(number2))

1,000

In [9]:
number3 = 100
print(convert_to_indian_currency(number3))

100

In [10]:
number4 = 10000
print(convert_to_indian_currency(number4))

10,000

**Question 2**

In [27]:
def find_minimum_shots(T, test_cases):
    results = []
    for i in range(T):
        N, K = test_cases[i][0]
        heights = test_cases[i][1]

        # Count players taller than K
        count = 0
        for height in heights:
            if height > K:
                count += 1

        results.append(count)

    return results

# Input reading
T = int(input())
test_cases = []

for _ in range(T):
    N, K = map(int, input().split())
    heights = list(map(int, input().split()))
    test_cases.append(((N, K), heights))

# Processing and Output
results = find_minimum_shots(T, test_cases)
for result in results:
    print(result)

2
6 15
10 20 15 25 5 30
3 12
14 8 11
3
1

In [26]:
results = find_minimum_shots(T, test_cases)
for result in results:
    print(result)

2
1
0

In [28]:
results = find_minimum_shots(T, test_cases)
for result in results:
    print(result)

3
1